{% extends "base.html" %}
{% block title %}Edit Config{% endblock %}

{% block pageheader %}
<h1> Edit Configuration </h1>
{% endblock %}

{% block pagecontent %}
<form method="POST" action="{{ url_for('editconfig') }}" class="form">
  <textarea name="config" id="config" class="form-control" style="height:500px">{{ config }}</textarea>
  <div style="text-align: right">
    <a href="{{ url_for('index') }}" class="btn btn-warning">Cancel</a>
    <button type="submit" name="save" class="btn btn-primary">Save only</button>
    <button type="submit" name="apply" class="btn btn-success">Save and apply now</button>
  </div>
</form>
{% endblock %}
