{% extends "base.html" %}
{% block title %}CCDD GUI{% endblock %}

{% block mystyles %}
<style>
  #programoutput { background-color: white; color: black; height: 250px; overflow:auto; 
    padding-right: 0px; padding-left: 1px}
  #statustable tbody td { color: blue }
  #statustable tbody td .btn {width:55px; padding: 2px;}
  form { display: inline-block }
  #state {margin-left:80px;}
  #lastimg {max-width:90%; /*max-height:450px;*/ padding-bottom:10px; padding-top: 10px;}
</style>
{% endblock %}

{% block myscripts %}
<script>
var _getstatusto = null;
function getstatus(){
  clearTimeout(_getstatusto);
  _getstatusto = null;
  var resend=10000;
  $.get("{{ url_for('status') }}", function(data){
    var stateclass = data.state == 'running' ? 'text-success' : data.state == 'error' ? 'text-danger' : '';
    $("#state").text(data.state || '').attr('class', stateclass);
    $("#currentprocess").text(data.runningcmd || '---');
    $("#programoutput").text(data.cmdoutput || '');
    $("#programoutput").prop('scrollTop', $("#programoutput").prop('scrollHeight') );
    $("#updatetime").text(data.statustime);
    $("#lastfile").text(data.lastfile || '---');
    $("#currentexposure").text((data.current_exposure || '--')+" out of "+(data.max_exposures || '---'));
    $("#abort").toggleClass('disabled', data.state != 'running');
    $("#endloop").toggleClass('disabled', !(data.max_exposures > data.current_exposure));
    var lastimg = $("#lastimg");
    if(data.lastimg_timestamp > lastimg.data('timestamp')){
      lastimg.attr('alt', "Loading latest image...")
        .attr('src',data.lastimg+'?timestamp='+data.lastimg_timestamp)
        .data('timestamp', data.lastimg_timestamp);
    }
    if(data.state == 'running')
      resend = 1000;
  }).fail(function(){ 
    $("#state").text("Server not responding!").attr('class','alert-danger'); 
  }).always(function(){ 
    _getstatusto = setTimeout(getstatus, resend);
  });
}



document.addEventListener('DOMContentLoaded', function(){
  getstatus();
  $(".postlink").click(function(event){
    event.stopPropagation();
    event.preventDefault();
    if($(this).hasClass("disabled")) return;
    var conf = !($(this).hasClass("confirm"));
    if(!conf){
      conf = confirm("Are you sure you want to run '"+$(this).text()+"'?");
    }
	if(conf){
		$("<form></form>").css('display', 'none')
			.attr('method','POST').attr('action',$(this).attr('href'))
			.appendTo("body").submit();
	}
  });
  
});
</script>
{% endblock %}


{% block pageheader %} 
<div class="col-sm-5"><h1> CCDDrone GUI </h1></div>
<div class="col-sm-1"><h4>Actions:</h4></div>
<div class="col-sm-6">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-default postlink confirm" id="dostartup" href="{{ url_for('startup') }}">Startup and erase</a>
      <a class="btn btn-default postlink confirm" id="doerase" href="{{ url_for('erase') }}">Erase</a>
      <div class="btn-group">
        <button id="setbiasgrp" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Toggle Bias <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a class="postlink" id="biason" href="{{ url_for('togglebias', value='on') }}">on</a></li>
          <li><a class="postlink" id="biasoff" href="{{ url_for('togglebias', value='off') }}">off</a></li>
        </ul>
      </div>
    </div>
    <div class="btn-group">
      <a class="btn btn-primary" href="{{ url_for('editconfig') }}">Edit Settings</a>
    </div>
    <div class="btn-group">
      <a class="btn btn-success" href="{{ url_for('expose') }}">Expose</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pagecontent %}

<div class="col-sm-5">
  <h2>Status <small id="state"></small></h2>
  <table class="table table-condensed" id="statustable">
    <thead></thead>
    <tbody>
      <tr><th>Currently running</th><td id="currentprocess">---</td>
        <td align="right"><button id="abort" class="btn btn-danger postlink disabled" href="{{ url_for('abortproc') }}">Abort</button></td>
      </tr>
      <tr><th>Exposure</th><td id="currentexposure">---</td>
        <td align="right"><button id="endloop" class="btn btn-warning postlink disabled" href="{{ url_for('endexposeloop') }}">End</button></td>
      </tr>
      <tr><th>Last file</th><td id="lastfile">---</td><td></td></tr>
      <tr><th>Status last updated</th><td id="updatetime">---</td><td></td></tr>
    </tbody>
  </table>
  
</div>
<div class="col-sm-7">
  <!-- <h4>Program output</h4> -->
  <pre id="programoutput"> 
  </pre>
</div>

<div style="text-align:center">
  <img id="lastimg" src="static/lastimg.png" data-timestamp="0" 
       alt="CCD Image preview">
</div>  


{% endblock %}
